* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Mona Sans";
    src: url("Mona-Sans.woff2") format("woff2 supports variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

.dark {
    --background-1: #150050;
    --background-2: #fafafa;

    --font-color-1: #fb2576;
    --font-color-2: #150050;
    --font-color-3: #fafafa;
    --font-color-4: #4E9F3D;
    --font-color-5: #EA1515;
    

}

.light {
    --background-1: #0884f8;
    --background-2: #fafafa;

    --font-color-1: #fb2576;
    --font-color-2: #150050;
    --font-color-3: #fafafa;
    --font-color-4: #4E9F3D;
    --font-color-5: #EA1515;

}

body {
    font-family: "Mona Sans", sans-serif;
    background: var(--background-1);
   
    background-repeat: no-repeat;
    height: 100%;
    color: var(--font-color-1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
}

header button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-3);
    background: none;
    width: 35px;
    height: 35px;
    padding: 1rem;
    border: 1px solid var(--font-color-3);
    border-radius: 100%;
    outline: none;
    cursor: pointer;
    transition-property: all;
    transition-duration: 200ms;
}

header button:hover {
    background-color: var(--font-color-3);
    color: var(--font-color-1);
}

.cronometro {
    display: none;
    font-size: 24px;
    font-weight: 600;
    color: var(--font-color-3);
}

.acesso-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 530px;
    gap: 0.75rem;
    padding: 1rem;
    margin-bottom: 5rem;
}

.acesso-container h1 {
    margin-bottom: 1rem;
}

.acesso-container input {
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
    border: none;
    background: var(--background-2);
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: "Mona Sans", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--font-color-1);
    text-align: center;
}

.acesso-container input:focus {
    outline: none;
}

.acesso-container input::placeholder {
    color: var(--font-color-1);
}

.acesso-container select {
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
    border: none;
    outline: none;
    background: var(--background-2);
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: "Mona Sans", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--font-color-1);
    text-align: center;
}

.acesso-container button {
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
    border: none;
    background: var(--font-color-1);
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: "Mona Sans", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--font-color-3);
    text-align: center;
    transition-property: all;
    transition-duration: 200ms;
}

.acesso-container button:hover {
    cursor: pointer;
    background: var(--background-2);
    color: var(--font-color-1);
}

.tema {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
}

.tema span {
    text-transform: lowercase;
    font-weight: 200;
    font-size: 1rem;
    color: var(--font-color-3);
}

.pergunta-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pergunta-container span {
    text-transform: none;
    font-weight: 400;
    font-size: 0.85rem;
    margin-top: 1rem;
}

.pergunta-container h3 {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--font-color-3);
    text-align: justify;
}

.resposta-container {
    display: flex;
    width: 100%;
    background-color: var(--background-2);
    border-radius: 15px;    
    text-align: center;
    transition-property: all;
    transition-duration: 200ms;
    margin: 0.5rem 0;
}

.resposta-container input {
    display: none;
}


.resposta-container label {
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    font-weight: 600;
    text-align: center;
    transition-property: all;
    transition-duration: 200ms;
}

.resposta-container:hover, .resposta-container label:hover {
    cursor: pointer;
    background-color: var(--font-color-1);
    color: var(--font-color-3);
}

.btns{
    display: none;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
    border: none;    
}

.btn{
    cursor: pointer;
    padding: 1rem;
    border: none;
    border-radius: 15px;
    background-color: var(--font-color-1);
    color: var(--font-color-3);
    font-size:1.25rem;
    font-weight: 600;
    transition-duration: 400ms;
}

#btn-concluir:hover{
    background-color: var(--font-color-4);
    color: var(--font-color-3);
}

#btn-jogar:hover{
    background-color: var(--font-color-5);
    color: var(--font-color-3);
}




.resultado {
    width: 100%;
    padding: 4rem 2rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ranking-geral {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ranking-geral span {
    text-transform: lowercase;
    font-weight: 200;
    font-size: 1rem;
    color: var(--font-color-3);
}

.ranking-geral h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.ranking-geral table {
    width: 100%;
    margin-top: 1rem;
    border: 5px solid var(--background-2);
    border-radius: 15px;
    text-align: center;
    color: var(--font-color-3);
    padding: 0.5rem;
}

.ranking-geral thead {
    font-weight: 600;
}

.ranking-geral tbody {
    font-weight: 400;
}

.ranking-geral tbody tr td{
    padding: 0.5rem;
    
}

.desempenho {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.desempenho span {
    text-transform: lowercase;
    font-weight: 200;
    font-size: 1rem;
    color: var(--font-color-3);
}

.desempenho h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.media h3, .media p {
    display: inline-block;
    margin-right: 10px; 
    color: #fafafa;
    font-size: 12px;
    margin-top: 2rem;
    }

    .media p {
        font-size: 17px;
    }

    .media .verde {
        color: rgb(10, 227, 10);
    }

    .media .vermelho {
        color: red;
    }



.usuario {
    display: flex;
    width: 100%;
    column-gap: 5rem;
    margin-top: 1rem;
}

.usuario-acerto, .usuario-erro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color-3);
    padding: 1.5rem;
    border-radius: 15px;
    gap: 0.5rem;
}

.usuario-acerto {
    background-color: green;
}

.usuario-erro {
    background-color: red;
}

.usuario-acerto h4, .usuario-erro h4 {
    font-weight: 400;
    font-size: 14px;
}

.usuario-acerto p, .usuario-erro p {
    font-weight: 900;
    font-size: 32px;
}

.ranking-temas {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.ranking-temas span {
    text-transform: lowercase;
    font-weight: 200;
    font-size: 1rem;
    color: var(--font-color-3);
}

.ranking-temas h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.ranking-temas-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.ranking-unico {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--font-color-3);
    border: 1px solid var(--font-color-3);
    border-radius: 15px;
    gap: 0.5rem;
}

.ranking-unico h4 {
    font-weight: 600;
    font-size: 18px;
    color: var(--font-color-1);
}


